.features {
  @media screen and (max-width: $max-tablet) {
    @include padding(60px, 60px);
  }

  @include desktop {
    padding-top: 94px;
  }

  &__list {
    @extend %list;

    @include tablet {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }
  }

  &__item {
    @media screen and (min-width: $mobile) and (max-width: $tablet) {
      width: 450px;
    }

    @include tablet {
      width: 354px;
      width: calc((100% - 4 * 15px) / 2);
      margin: 15px;
    }

    @include desktop {
      width: 270px;
      width: calc((100% - 8 * 15px) / 4);
    }

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__icon {
    @include flex(flex, center, center);
    margin-bottom: 30px;
    height: 120px;
    border-radius: 4px;
    background: $secondary-bg-color;
  }

  &__title {
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 1.14;
    text-transform: uppercase;

    color: $primary-text-color;

    @media screen and (max-width: $tablet) {
      text-align: center;
    }
  }

  &__text {
    line-height: 1.71;

    color: $text-color;

  }
}