.footer {
  background: #2F303A;
  @include paddings;

  &__container {
    @media screen and (min-width: $tablet) and (max-width: $max-tablet) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    @media screen and (min-width: $desktop) {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
  }

  .address {
    @media screen and (max-width: $max-mobile) {
      margin-bottom: 60px;
    }

    @media screen and (min-width: $tablet) and (max-width: $max-tablet) {
      width: 50%;
    }

    &__item:not(:last-child) {
      margin-bottom: 8px;
    }

    &__link {
      @extend %link;
      display: block;
      color: $primary-white-color;

      @media screen and (max-width: $max-tablet) {
        text-align: center;
      }
    }

    &__contact {
      display: block;
      color: $footer-contact-color;

      @media screen and (max-width: $max-tablet) {
        text-align: center;
      }
    }

    &__item .link {
      @extend %link;
      @include transitioned(color);
      font-weight: inherit;
      line-height: 1.71;
      text-decoration: none;
      font-style: normal;

      &:hover,
      &:focus {
        color: $accent-color;
      }
    }
  }
}


// .footer {
//   padding-top: 60px;
//   padding-bottom: 60px;
//   background-color: #2f303a;

//   &__container {
//     display: flex;
//     justify-content: space-between;
//   }
// }

// .address {
//   display: flex;
//   flex-direction: column;
//   margin-right: 70px;

//   &__link {
//     @extend %link;
//     display: block;
//     color: $primary-white-color;
//   }

//   &__contact {
//     display: block;
//     margin-top: 9px;

//     color: $footer-contact-color;
//   }

//   &__item .link {
//     @extend %link;
//     @include transitioned(color);
//     font-weight: inherit;
//     line-height: 1.71;
//     text-decoration: none;
//     font-style: normal;

//     &:hover,
//     &:focus {
//       color: $accent-color;
//     }
//   }
// }