.hero {
  @include padding(118px, 118px);

  @include desktop {
    @include padding(200px, 200px);
  }

  &__overlay {
    margin: 0 auto;
    display: block;
    max-width: 480px;
    height: 400px;
    background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
      url(../images/hero.jpg);
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: linear-gradient(to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)),
        url(../images/Hero@2x.jpg);
    }

    @include tablet {
      max-width: 768px;
      background-image: linear-gradient(to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)),
        url(../images/tablet_Hero.jpg);
      background-size: cover;

      @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
          url(../images/tablet_Hero@2x.jpg);
      }
    }

    @include desktop {
      max-width: 1600px;
      height: 600px;
      background-image: linear-gradient(to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)),
        url(../images/desktop_Hero.jpg);
      background-size: cover;

      @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
          url(../images/desktop_Hero@2x.jpg);
      }
    }
  }

  &__title {
    font-weight: 900;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    max-width: 360px;
    font-size: 26px;
    line-height: 1.62;
    margin-bottom: 30px;
    color: $primary-white-color;

    @include desktop {
      max-width: 696px;
      font-size: 44px;
      line-height: 1.36;
    }
  }

  .button-wrap {
    @include flex(flex, center, center);
  }

  .button {
    @extend %button;

    &:hover,
    &:focus {
      color: $accent-color;
      background-color: $primary-white-color;
    }
  }
}