.logo {
  color: $primary-text-color;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 24px;
  line-height: 1.16;

  @include tablet {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 88px;
  }

  @include desktop {
    font-size: 26px;
    line-height: 1.19;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }

  &--accent {
    color: $accent-color;
  }

  &--footer {
    display: block;
    padding: 0;
    margin-right: 0;
    margin-bottom: 20px;
    color: $primary-white-color;

    @media screen and (max-width: $max-tablet) {
      text-align: center;
    }
  }
}